<!DOCTYPE HTML>
<html>
<head>
  <link href='<%= image_path 'favicon.ico' %>' rel='shortcut icon' type='image/x-icon'>
  <meta charset="UTF-8" />
  <title>HTML5 Game in an Afternoon</title>
  <%= stylesheet_link_tag "normalize", "all" %>
  <style>
    body {
      margin: 0 0 0px 0;
      background: #333;
    }
  </style>
</head>
<body>

<div id="gameContainer"></div>
<%= javascript_include_tag 'all' %>
</body>
</html>
